h1 {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 2rem;
}
ol {
  list-style: decimal inside;
}

li {
  font-weight: bold;
}
li:nth-child(odd) {
  color: skyblue;
}

li:nth-child(even) {
  background-color: rgba(211, 211, 211, 0.5);
}
