body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
table {
  border: 2px solid black;
}
th {
  padding: 1rem;
  background-color: #000;
  color: #fff;
  font-weight: 600;
}

td {
  text-align: center;
  background-color: lightgrey;
}

tr:nth-child(odd) td {
  background-color: gray;
}
